<script setup>
import { FilterMatchMode } from 'primevue/api';
import { ref, onMounted, onBeforeMount } from 'vue';
import { useToast } from 'primevue/usetoast';
import { apiBaseUrl } from '@/config/apiConfig';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

const store = useStore();
const router = useRouter();

const toast = useToast();

const department_id = ref(null);
const datamasters = ref([]);
const datamaster = ref({});
const dt = ref(null);
const filters = ref({});
const loading = ref(null);
const s_locs = ref([]);
const uoms = ref([]);
const idfromroute = ref(null);
const submitted = ref(false);

const items = ref([{ label: 'Adjustment', route: '/adjustment' }, { label: 'Add Adjustment' }]);

onBeforeMount(async () => {
    const storeDepartmentid = store.state.department_id;
    // console.log('plis', storeDepartmentid);
});

onMounted(async () => {
    idfromroute.value = router.currentRoute.value.params.id;
    // console.log('a', idfromroute);
    try {
        // get data user
        const responseUSER = await fetch(`${apiBaseUrl}/api/auth/get_user/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${localStorage.getItem('token')}`
            }
        });
        const datauser = await responseUSER.json();

        department_id.value = datauser.data.departement_id;

        //get data master
        // const apiUrl = `${apiBaseUrl}/api/outbound/${idfromroute.value}`;

        // console.log('api', apiUrl);

        // Fetch data from Laravel API
        // const response = await fetch(apiUrl, {
        //     method: 'GET',
        //     headers: {
        //         'Content-Type': 'application/json',
        //         Authorization: `Bearer ${localStorage.getItem('token')}`
        //     }
        // });
        // const data = await response.json();

        // if (response.ok) {
        //     datamasters.value = data.data;
        // } else {
        //     throw new Error(data.error || 'Failed to fetch data from API');
        // }

        // Ambil data departemen dari Laravel API
        const response_location = await fetch(`${apiBaseUrl}/api/sloc/master_storage_location`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${localStorage.getItem('token')}`
            }
        });

        const datastorage = await response_location.json();

        if (response_location.ok) {
            s_locs.value = datastorage.data.data;
            console.log(s_locs.value, 'tolol');
        } else {
            throw new Error(datastorage.error || 'Failed to fetch storage location data from API');
        }

         // Ambil data UOM dari Laravel API
         const responseUom = await fetch(`${apiBaseUrl}/api/uom/master_uom`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${localStorage.getItem('token')}`
            }
        });

        const datauom = await responseUom.json();

        if (responseUom.ok) {
            uoms.value = datauom.data.data;
        } else {
            throw new Error(datauom.error || 'Failed to fetch uom data from API');
        }        
    } catch (error) {
        console.error('Error fetching data from API:', error);
        toast.add({ severity: 'error', summary: 'Error', detail: 'Failed to fetch data from API', life: 5000 });
    }
});

const saveDatamaster = () => {  
    console.log("input", datamaster.value.qty)
    submitted.value = true;
};
</script>

<template>
    <Breadcrumb :model="items">
        <template #item="{ item, props }">
            <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
                <a :href="href" v-bind="props.action" @click="navigate">
                    <span :class="[item.icon, 'text-color']" />
                    <span class="text-primary font-semibold">{{ item.label }}</span>
                </a>
            </router-link>
            <a v-else :href="item.url" :target="item.target" v-bind="props.action">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </template>
    </Breadcrumb>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <Toast />
                {{ s_loc }}
                <Toolbar class="mb-4 p-0" style="border: none; background-color: white">
                    <template v-slot:start>
                        <div class="my-1">
                            <h5 class="m-0">Add New Adjustment</h5>
                        </div>
                    </template>
                    <template v-slot:end>
                        <Button label="Save" class="p-button-primary mr-2 px-6"  @click="saveDatamaster" />
                    </template>
                </Toolbar>
                <Divider />

                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="storageLocation">Category Adjustment</label>
                        <select id="storageLocation" v-model="StorageLocation"
                            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" :class="{ 'border-red-500': submitted && !datamaster.qty }" style="appearance: auto" >
                            <option v-for="loc in s_locs" :key="loc.id" :value="loc.id">{{ loc.s_loc }}</option>
                        </select>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="storageLocation">Storage Location</label>
                        <select id="storageLocation" v-model="StorageLocation"
                            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" :class="{ 'border-red-500': submitted && !datamaster.qty }" style="appearance: auto" >
                            <option v-for="loc in s_locs" :key="loc.id" :value="loc.id">{{ loc.s_loc }}</option>
                        </select>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>

                    <div class="field col-12 md:col-6 mb-4">
                        <label for="storageLocation">Material</label>
                        <select id="storageLocation" v-model="StorageLocation"
                            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" :class="{ 'border-red-500': submitted && !datamaster.qty }" style="appearance: auto" >
                            <option v-for="loc in s_locs" :key="loc.id" :value="loc.id">{{ loc.s_loc }}</option>
                        </select>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="storageLocation">Storage Bin</label>
                        <select id="storageLocation" v-model="StorageLocation"
                            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" :class="{ 'border-red-500': submitted && !datamaster.qty }" style="appearance: auto" >
                            <option v-for="loc in s_locs" :key="loc.id" :value="loc.id">{{ loc.s_loc }}</option>
                        </select>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>

                    <div class="field col-6 md:col-3">
                        <label for="zip">Qty</label>
                        <input v-model.trim="datamaster.qty" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full" :class="{ 'border-red-500': submitted && !datamaster.qty }"/>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                    <div class="field col-6 md:col-3">
                        <label for="zip">Qty (Physical)</label>
                        <input id="zip" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full" :class="{ 'border-red-500': submitted && !datamaster.qty }" />
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                    <div class="field col-6 md:col-3">
                        <label for="zip">Qty Adjustment</label>
                        <input id="zip" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full" :class="{ 'border-red-500': submitted && !datamaster.qty }" />
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                    <div class="field col-6 md:col-3">
                        <label for="storageLocation">UoM</label>
                        <select id="storageLocation" v-model="StorageLocation"
                            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid border-round outline-none focus:border-primary" :class="{ 'border-red-500': submitted && !datamaster.qty }" style="appearance: auto" >
                            <option v-for="uom in uoms" :key="uom.id" :value="uom.id">{{ uom.name }}</option>
                        </select>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>

                    <div class="field col-12 md:col-6 mb-4">
                        <label for="zip">Batch</label>
                        <input id="zip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full" :class="{ 'border-red-500': submitted && !datamaster.qty }"/>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="zip">Description</label>
                        <input id="zip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid border-round appearance-none outline-none focus:border-primary w-full" :class="{ 'border-red-500': submitted && !datamaster.qty }"/>
                        <small class="p-invalid text-red-500" v-if="submitted && !datamaster.qty">Qty is required.</small>
                    </div>
                </div>

                <div class="my-5"></div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss"></style>
