<script setup>
import { FilterMatchMode } from 'primevue/api';
import { ref, onMounted, onBeforeMount } from 'vue';
import { useToast } from 'primevue/usetoast';
import { apiBaseUrl } from '@/config/apiConfig';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

const store = useStore();
const router = useRouter();

const toast = useToast();

const selectedProducts = ref(null);
const dataReceived = ref(null);
const department_id = ref(null);
const datamasters = ref([]);
const dt = ref(null);
const filters = ref({});
const loading = ref(null);
const s_locs = ref([]);
const idfromroute = ref(null);

const items = ref([{ label: 'Inbound', route: '/inbound' }, { label: 'Detail' }]);

onBeforeMount(async () => {
    const storeDepartmentid = store.state.department_id;
    console.log('plis', storeDepartmentid);

    dataReceived.value = router.currentRoute.value.meta ? router.currentRoute.value.meta.dataToSend.value : null;
    console.log('Received data:', dataReceived.value);
});

onMounted(async () => {
    idfromroute.value = router.currentRoute.value.params.id;  
    console.log('a', idfromroute)
    try {
        // get data user
        const responseUSER = await fetch(`${apiBaseUrl}/api/auth/get_user/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${localStorage.getItem('token')}`
            }
        });
        const datauser = await responseUSER.json();

        department_id.value = datauser.data.departement_id;

        //get data master
        const apiUrl = `${apiBaseUrl}/api/outbound/${idfromroute.value}`; 
        //  const apiUrl = `${apiBaseUrl}/api/outbound`;

        console.log('api', apiUrl);

        // Fetch data from Laravel API
        const response = await fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${localStorage.getItem('token')}`
            }
        });
        const data = await response.json();

        if (response.ok) {
            datamasters.value = data.data;
        } else {
            throw new Error(data.error || 'Failed to fetch data from API');
        }

        // Ambil data departemen dari Laravel API
        const response_location = await fetch(`${apiBaseUrl}/api/sloc/master_storage_location`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${localStorage.getItem('token')}`
            }
        });

        const datastorage = await response_location.json();

        if (response_location.ok) {
            s_locs.value = datastorage.data.data;
        } else {
            throw new Error(datastorage.error || 'Failed to fetch storage location data from API');
        }
    } catch (error) {
        console.error('Error fetching data from API:', error);
        toast.add({ severity: 'error', summary: 'Error', detail: 'Failed to fetch data from API', life: 5000 });
    }
});
</script>

<template>
    <Breadcrumb :model="items">
        <template #item="{ item, props }">
            <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
                <a :href="href" v-bind="props.action" @click="navigate">
                    <span :class="[item.icon, 'text-color']" />
                    <span class="text-primary font-semibold">{{ item.label }}</span>
                </a>
            </router-link>
            <a v-else :href="item.url" :target="item.target" v-bind="props.action">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </template>
    </Breadcrumb>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <Toast />
                <pre>{{datamasters}}</pre>
                <Toolbar class="mb-4 p-0" style="border: none; background-color: white">
                    <template v-slot:start>
                        <div class="my-1">
                            <h5 class="m-0">Inbound CODE</h5>
                        </div>
                    </template>
                    <template v-slot:end>
                        <div class="my-1">
                            <p class="m-0" style="color: black">Status : {{datamasters.status}}</p>
                        </div>
                    </template>
                </Toolbar>
                <Divider />
                <div class="grid grid-nogutter">
                    <div class="col-12 md:col-7 lg:col-7 grid grid-nogutter">
                        <div class="px-3 py-1 col-6 md:col-4 lg:col-4"><small>Inbound Date</small></div>
                        <div class="px-3 py-1 col-6 md:col-8 lg:col-8"><small>: {{ datamasters.created_at }}</small></div>
                    </div>
                    <div class="col-12 md:col-5 lg:col-5 grid grid-nogutter">
                        <div class="px-3 py-1 col-6 md:col-5 lg:col-5"><small>Storage Location</small></div>
                        <div class="px-3 py-1 col-6 md:col-7 lg:col-7"><small>: {{ datamasters.s_loc}}</small></div>
                    </div>

                    <div class="col-12 md:col-7 lg:col-7 grid grid-nogutter">
                        <div class="px-3 py-1 col-6 md:col-4 lg:col-4"><small>Vendor</small></div>
                        <div class="px-3 py-1 col-6 md:col-8 lg:col-8"><small>: {{ datamasters.vendor}}</small></div>
                    </div>
                    <div class="col-12 md:col-5 lg:col-5 grid grid-nogutter">                      
                    </div>           
                </div>
                <Divider class="mb-5" />

                <Toolbar class="bg-white border-none">
                    <template v-slot:end>
                        <Button label="Release to SAP" class="p-button-primary" v-if="selectedProducts && selectedProducts.length" />
                    </template>
                </Toolbar>

                <DataTable ref="dt" :value="datamasters.data" v-model:selection="selectedProducts" :filters="filters" :loading="loading" dataKey="id" class="p-datatable-gridlines" :rows="10" responsiveLayout="scroll">
                    <Column selectionMode="multiple" headerStyle="width:5%"></Column>
                    <Column field="rowIndex" headerStyle="width:5%;" style="text-align: center">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 100%">
                                <span style="width: 100%">No</span>
                            </div>
                        </template>
                        <template #body="slotProps">{{ slotProps.index + 1 }}</template>
                    </Column>
                    <Column field="code" headerStyle="width:10%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" :style="{ 'text-align': 'center', width: '90%' }">
                                <span style="width: 100%">Material Code</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.code }}
                        </template>
                    </Column>
                    <Column field="date" headerStyle="width:15%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 90%">
                                <span style="width: 100%">Material Description</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.date }}
                        </template>
                    </Column>
                    <Column field="reference_type" headerStyle="width:10%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" :style="{ 'text-align': 'center', width: '90%' }">
                                <span style="width: 100%">Item</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.data_material.reference_name }}
                        </template>
                    </Column>
                    <Column field="type" headerStyle="width:10%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 90%">
                                <span style="width: 100%">Plant</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.type }}
                        </template>
                    </Column>
                    <Column field="receiving_sloc" headerStyle="width:10%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 90%">
                                <span style="width: 100%">Qty</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.receiving_sloc }}
                        </template>
                    </Column>
                    <Column field="mvt_id" headerStyle="width:10%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 90%">
                                <span style="width: 100%">UoM</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.mvt_id }}
                        </template>
                    </Column>
                    <Column field="mvt_id" headerStyle="width:10%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 90%">
                                <span style="width: 100%">Batch</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.mvt_id }}
                        </template>
                    </Column>
                    <Column field="mvt_id" headerStyle="width:15%;">
                        <template #header>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: center; width: 90%">
                                <span style="width: 100%">Storage Bin</span>
                            </div>
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data.mvt_id }}
                        </template>
                    </Column>
                </DataTable>

                <div class="my-5"></div>
          
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss"></style>
